bedrock-agentcore[strands-agents]>=1.10.0
strands-agents>=1.40.0
strands-agents[otel]
strands-agents-tools>=0.6.0
boto3>=1.43.11
mcp-proxy-for-aws>=1.4.2
aws-opentelemetry-distro>=0.17.0
google-auth>=2.27.0
google-api-python-client>=2.100.0
